    :root {
        --primary-darker: hsl(233, 47%, 7%);
        --primary-dark: hsl(244, 38%, 16%);
        --primary-soft: hsl(277, 64%, 61%);
        --neutral-100: hsl(0, 0%, 100%);
        --neutral-75: hsla(0, 0%, 100%, 0.75);
        --neutral-60: hsla(0, 0%, 100%, 0.6);
        --ff-inter: 'Inter', sans-serif;
        --ff-lexend: 'Lexend Deca', sans-serif;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
    }

    body {
        background-color: var(--primary-darker);
        font-family: var(--ff-inter);
        font-size: 1.5rem;
        color: white;
    }

    main {
        height: calc(100vh - 20px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img { width: 100%; }

    .desktop { display: none; }

    .card {
        max-width: 375px;
        min-height: 450px;
        background-color: var(--primary-dark);
        /* border: 1px solid white; */
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 25px;
    }

    .card-image {
        background-color: var(--primary-soft);
    }

    .card-image img {
        mix-blend-mode: multiply;
        opacity: 70%;
        height: 100%;
        width: 100%;
    }

    .card-content {
        padding: 35px 30px;
        text-align: center;
    }

    .card-content h1 {
        font-size: 2.8rem;
        font-family: var(--ff-inter);
        margin-bottom: 1.75rem;
    }

    .card-content h1>span {
        color: var(--primary-soft) ;
    }

    .card-content p {
        color: var(--neutral-60);
        line-height: 1.6;
    }

    .card-stats {
        padding-top: 40px;
    }

    .card-stats ul {
        list-style: none;
        display: flex;
        align-content: space-between;
        flex-direction: column;
        gap: 2.4rem;
    }

    .card-stats li {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.55;
    }

    .card-stats li span {
        text-transform: uppercase;
        font: 400 1.2rem var(--ff-lexend);
        letter-spacing: 1px;
        display: block;
        color: var(--neutral-60);
    }

    .attribution { 
        font-size: 1.1rem; 
        text-align: center; 
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

  @media screen and ( min-width:1110px ) {
    .card {
        max-width: 1110px;
        flex-direction: row-reverse;
        margin: 0;
    }

    .desktop { display: block; }

    .mobile { display: none; }

    .card-image img { width: auto; }

    .card-content {
        padding: 70px 65px 0 70px;
        text-align: left;
    }

    .card-content h1 {
        font-size: 3.6rem;
        margin-bottom: 2.75rem;
    }

    .card-content p { width: 85%; }

    .card-stats { padding-top: 70px; }

    .card-stats ul {
        gap: 6.2rem;
        flex-direction: row;
    }
    
  }